#container {
  margin: auto;
  position: absolute;
  height: 50%;
  width: 60%;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  font-family: Georgia;
	
	/*for testing purposes*/
/*
border-style: solid; 
border-padding: 1px;
border-color: red;
*/
}

.navbar {
	font-weight: bold;
}

.archived {
	color: grey;
}

.active {
	font-weight: bold;
}