<div id="taskscontainer">
	
	<!--Title-->
	<section class="title">
		<h2>{{ title }}</h2>
	</section>

	<!--Display tasks-->
	<section class="tasks">
		
		<section ng-repeat="task in tasks | taskFilter | orderBy: ['!active', 'expired']">
			
			<input type="checkbox" ng-model="task.selected" ng-change="selectTask(task)">
			
			<span ng-class="{archived: !task.active, active: task.active, completed: task.completed, expired: task.expired}">{{ task.name }}</span>
			
		</section>
		
	</section>
	
	<br>

	<!--Mark task as completed-->
	<button ng-click="markCompleted()" ng-hide="title == 'Completed Tasks'">Mark as Complete</button>
	<br><br>

	<!--Delete a task-->
	<button ng-click="removeTask()">Delete</button>

	<!--Mark as archived-->
	<button ng-click="archiveTasks()" ng-hide="title == 'Archived Tasks' || title == 'Expired Tasks' || title == 'Completed Tasks'">Archive</button>

	<!--Reactivate-->
	<button ng-click="reactivateTasks()" ng-hide="title == 'Active Tasks'">Reactivate</button>
	<br><br><br>

	<!--Add a new task-->
	<form ng-submit="addTask()">
		<input ng-model="newTaskName" />
			<button type="submit">Add</button>
	</form>
	
</div>